doctype 5
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html.no-js
<!--<![endif]-->

head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  meta(content='width=device-width, initial-scale = 1.0, user-scalable = no',
       name='viewport')
  title= title
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600',
   rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='stylesheets/cool-kitten/normalize.css',
       media='screen')
  link(rel='stylesheet', href='stylesheets/cool-kitten/grid.css',
       media='screen')
  link(rel='stylesheet', href='stylesheets/cool-kitten/style.css',
       media='screen')
  link(rel="icon", type="image/png" ,href="/images/iconoCaler.png")
  block custom-stylesheets
  <!--[if IE]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
body
  block content
    
  
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(src="javascripts/cool-kitten/jquery.stellar.min.js")
  script(src='javascripts/cool-kitten/waypoints.min.js')
  script(src="javascripts/cool-kitten/jquery.easing.1.3.js")
  script(src="javascripts/cool-kitten/scripts.js")
  block custom-scripts







