extends bootkitten

block custom-stylesheets
  link(rel='stylesheet', href='stylesheets/own/calerax.css',
       media='screen')

block content
  .menu
    .container.clearfix
      .grid_6#caler
        img(src='images/calerNav.png',width=200, height=54)
      .grid_6.omega#nav
        ul.navigation
          li(data-slide='1') #{data_slide_1}
          li(data-slide='2') #{data_slide_2}
          li(data-slide='3') #{data_slide_3}
          li(data-slide='4') #{data_slide_4}
        hr.clearer
        .slogan
          sup
            sup ┌
          |SU SOLUCIÓN EN
          br
          | &nbsp;&nbsp;SISTEMAS DE GESTIÓN
          sub
            sub ┘
        .top-padded
          span.back
           a(href='/') Regresar
  .slide#slide1(data-slide='1', data-stellar-background-ratio='0.5')
    .container.clearfix
      .content.grid_12
        h1 #{data_slide_1}
        h2 #{firstPunchline}
        p  #{firstDescription}
        p  #{firstExtendedDescription}
  .slide#slide2(data-slide='2', data-stellar-background-ratio='0.5')
    .container.clearfix
      .grid_12#content
        h1 #{data_slide_2}
        p  #{secondDescription}
        br
        h2 #{secondPunchline}
  .slide#slide3(data-slide='3', data-stellar-background-ratio='0.5')
    .container.clearfix
      .content#grid_12
        h1 #{data_slide_3}
        h3 #{thirdPunchline}
        br
        h4 Integridad
        p  Actuamos con respeto, honradez y congruencia basados en la veracidad de nuestras acciones y palabras; con un enfoque de evidencia objetiva.
  
        h4 Servicio personalizado
        p  Mantenemos una actitud permanente de colaboración,  para dar atención y solución a las necesidades de nuestros clientes.

        h4 Competencia técnica
        p  Aplicamos con aptitud nuestros conocimientos técnicos para dar  solución a las necesidades de nuestros clientes, respecto a la aplicación de  normas y criterios de evaluación de la conformidad.
        
        h4 Trabajo en equipo
        p  Colaboramos mutuamente cumpliendo estratégicamente los procedimientos y metodologías establecidos en nuestro sistema de gestión, para lograr la  política de calidad, misión, visión y objetivos de CALER Consultoría.

        h4 Mejora continua 
        p  En CALER Consultoría aumentamos  constantemente las capacidades de nuestro personal, la eficiencia de nuestros procesos, la confianza en las relaciones con nuestros clientes y la satisfacción de los mismos; mediante el estudio, análisis, experiencia y la generación de  soluciones eficaces. 
  .slide#slide4(data-slide='4', data-stellar-background-ratio='0.5')
    .container.clearfix
      .content#grid_12
        h1 #{data_slide_4}
        h2 #{fourthPunchline}